.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 14px 16px;
    background-color: #071C46;
    color: #ffffff;
  }


  /* Style the tab */
  .htab {
   font-family: Arial, Helvetica, sans-serif;
   overflow: hidden;
   background-color: #103F9C;
 }
  
  /* Style the buttons inside the tab */
  .htab button {
      background-color: inherit;
      float: left;
      border: none;
      margin: 0;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .htab button:hover {
    background-color: #071C46;
    color: #ffffff;
  }
  
  /* Create an active/current tablink class */
  .htab button.active {
    background-color: #071C46;
      color: #ffffff;
  }
  
  /* Style the tab content */
  .htabcontent {
      font-family: Arial, Helvetica, sans-serif;
      display: none;
      padding: 12px 12px;
      border-top: none;
      border-bottom: none;
      height: 100%;
  }
/* start of vtab */
    div.vtab {
        float: left;
        padding: 10px, 10px;
        border: 0px solid #ccc;
        background-color: #f1f1f1;
        width: 130px;
        height: 100%;
        }

    /* Style the buttons inside the tab */
    div.vtab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 16px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    div.vtab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    div.vtab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .vtabcontent {
        float: left;
        padding: 0px 10px;
        width: 70%;
        border-left: none;
        height: 300px;
    }

  
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    padding: 16px
  }
  .container {
    padding: 16px
  }
  
  

  .taclass{
    display:block;
    width:100%;
    padding:2%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    display:block
}

table tr:hover {background-color: #8DA5D9;}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #bcc6da    ;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
tr.sub {
    margin-left: 20px;
}

menu {
    margin-left: 5px;
    font-size: 18px;
}

/* Full-width input fields */
input[type=text], input[type=number], select {
    padding: 6px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.tableTextInput{
    width:80%
}
/*remove padding for table input fields */
.tableInput{
    padding: 0 6px;
    margin: 0;
}

/* Set a style for all buttons */
button {
    background-color:#071C46;
    color: white;
    padding: 8px 8px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/*style for +/- meal and recipe buttons */
.mealbtn{
    color: #ffffff;
    margin: 2px 35px;
    width:25px;
}

.recipebtn{
    background-color: #ffffff;
    color: #000000;
    margin: 2px 20px;
    width:20px;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    color: #103F9C;    
}

h4 {
    font-size: 16px;
    font-weight: bold;
}
.shoppingbtn{
    margin:3px;
    border-radius: 4px;
    height: 35px;
    font-size: 16px;
    
}
.mealTitle{
    font-size: 16px;
    font-weight: bold;
    margin: 6px;
}
.recipeTitle{
    font-size: 12px;
    padding: 6px;
}

.recipeTitleDiv{
    width: 300px;
    height: 20px;  
    background-color: #85D0E1;
    padding: 4px 2px;  
}
.recipeTitlePlaceholder{
    height: 5px;
    background-color: #ffffff;
    display: block;
}

.shoppingTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.shoppingTable td {
    padding: 8px;
}

.shoppingTable th {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #103F9C ;
    color: white;
} 
pbr {
    line-height: 150%
}
.addRecipeFilter {
    margin: 6px;
    height:120px;
}
.filterLabel{
    font-size:12px;
}
.filter-container{
    margin:2px;
}
.removeRecipe{
    margin:0;
    padding:2px 10px;
    background-color: inherit;
    color: black;
    float: right;
    font-weight: bold
}

.insideCellBtn{
    background-color: inherit;
    color: black;
    font-weight: bold;
    float:right;
    padding:8px 2px;
}

/* media print stylesheet */

@media print {

    table{
        background-color: grey
    }
    .printMenu{
        font-family: Arial, Helvetica, sans-serif;
    }
    .printMealTitle {
        page-break-before: always;
        display:block;    
        page-break-after: avoid;    
        font-size: 25px;
        font-weight: bold;
        color: rgb(60, 83, 153);    
    }
    .printDessertRecipeTitle {
        page-break-before: always;
        display:block;
    }

    .printRecipeDiv {
        page-break-before: avoid;
        page-break-inside: avoid;
        display:block;
    }
    .printIngredientTable {
        page-break-inside: avoid;
        display:block;
    }
    .printMethod {
        page-break-inside: avoid;
        display:block;
    }

    .printRecipeTitle{
        page-break-after: avoid; 
        display:block;    
    }
    .printShoppingList{
        page-break-before: always;
        display:block;
        font-family: Arial, Helvetica, sans-serif;        
    }
    .essentialsNote{
        font-family: Arial, Helvetica, sans-serif;        
        font-size: 12px        
    }

}

.printShoppingTable{
    width:auto;
}